body
{
    background-image: url("https://i.pinimg.com/originals/d3/ff/20/d3ff209a74c68b79a1b13b093cc7aa49.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

footer
{
    height: 25px;
    bottom: 0;
    width: 100%;
    background: white;
    background: rgba(255, 255, 255, .8);
    position: fixed;
    text-align: center;
}

a
{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

h1
{
    color: white;
    padding: 15px 15px 15px 2rem;
}

.bg-light
{
    opacity: .8;
    font-family: fantasy;
}

.list
{
    display: block;
    background-color: white;
    opacity: .8;
    font-family: cursive;
    margin: 5% 75% 5% 10%;
    text-align: center;
    font-size: larger;
    padding: .5%;
}

li
{
    padding: .5%;
}

.second_list
{
    display: block;
    background-color: white;
    background: rgba(255, 255, 255, .8);
    font-family: cursive;
    margin: 5% 10% 5% 70%;
    text-align: center;
    font-size: larger;
    padding: .5%;
    list-style-type: none;
}

.author_content
{
    display: flex;
    flex-direction: row-reverse;
    margin: 2%;
    margin-top: 0%;
}

.rightBox
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 10%;
}

.leftBox
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    background: rgba(255, 255, 255, .8);
    margin: 10% 10% 10% 10%;
    padding: 2%
}

