body
{
    background-image: url("https://i.pinimg.com/originals/d3/ff/20/d3ff209a74c68b79a1b13b093cc7aa49.jpg");
    background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
